@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #003973;
	background: linear-gradient(to top, #003973, #e5e5be);
	font-family: "Comfortaa", cursive;
}

h1 {
	padding-top: 10vh;
	font-size: 100px;
	color: #003973;
}

/* Playing Field */
main {
	width: 80vw;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
}

img {
	margin: 30px;
	height: 200px;
	width: auto;
	border-radius: 50%;
	opacity: 0.5;
	transition: all 0.6s ease-in-out;
}

/* Selectable choices */
.clickable {
	transition: all 0.3s ease-in-out;
}

.clickable:hover {
	transform: scale(1.1);
	cursor: pointer;
	opacity: 1;
}

.plyr-img,
.comp-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img-inner {
	display: flex;
	flex-direction: row;
}

.player-names {
	text-align: center;
	font-size: 50px;
	color: #e5e5be;
}

.field {
	color: #414042;
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: 15vh;
}

.field p {
	text-align: center;
	font-size: 50px;
}

.scores {
	position: relative;
	width: 20vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 50px;
}

.scores p {
	font-size: 80px;
}

.reset-btn {
	font-family: "Comfortaa", cursive;
	font-size: 35px;
	font-weight: bold;
	position: relative;
	top: 20vh;
	margin: auto;
	border: none;
	background: none;
	border-radius: 15px;
	color: rgba(137, 37, 62, 0.8);
	transition: all 0.2s ease-in-out;
}

p.winner {
	font-size: 25px;
	position: relative;
	top: 10vh;
}

.reset-btn:hover {
	cursor: pointer;
	color: rgba(137, 37, 62, 1);
	transform: scale(1.25);
}

.selected {
	transform: scale(1.1);
	opacity: 1;
}

@media only screen and (max-width: 720px) {
	html {
		height: 100%;
	}

	h1 {
		padding-top: 5vh;
		font-size: 50px;
		color: #003973;
	}

	main {
		display: flex;
		flex-direction: column-reverse;
	}

	.player {
		flex-direction: column;
	}

	.computer {
		display: flex;
		flex-direction: column-reverse;
	}

	.computer p,
	#comp-score {
		color: #003973;
	}

	#player-score {
		color: #e5e5be;
	}

	.comp-img,
	.plyr-img {
		flex-direction: row;
	}

	img {
		height: 150px;
	}

	.field {
		flex-direction: column;
		bottom: 0;
	}

	.scores {
		top: 0;
		width: 100%;
	}

	p.winner {
		font-size: 25px;
		position: relative;
		top: 0;
	}

	.reset-btn {
		padding-top: 20px;
		top: 0;
	}
}
